@using Site.Models.Extensions
@model Site.Models.MainMenu.MainMenuApiConfig
           
@{
    ViewBag.Title = "Main menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    @Styles.Render("~/Content/styles")
}

<div class="page-header"><h1>@ViewBag.Title</h1></div>

<div class="row">
    <div class="col-md-2 sidebar">
        <nav class="navbar navbar-default sidebar" role="navigation">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active" onclick="javascript:menuItemClick('Обслуживание', '@Model.ServicingUrl');return false;">
                            <a href="#">Обслуживание<span style="font-size:16px;" class="pull-right hidden-xs glyphicon glyphicon-wrench"></span></a>
                        </li>
                        <li onclick="javascript:menuItemClick('Клиенты', '@Url.Action("Clients", "Client")');return false;">
                            <a href="#">Клиенты<span style="font-size:16px;" class="pull-right hidden-xs glyphicon glyphicon-bookmark"></span></a>
                        </li>
                        <li onclick="javascript:menuItemClick('Заявки', '@Model.RequestUrl');return false;">
                            <a href="#">Заявки<span style="font-size:16px;" class="pull-right hidden-xs glyphicon glyphicon-pushpin"></span></a>
                        </li>
                        <li>
                            <a ng-href="@HttpUtility.UrlDecode(Url.Action("Users","User"))">Пользователи<span style="font-size:16px;" class="pull-right hidden-xs glyphicon glyphicon-user"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading" id="panel-heading">

            </div>
            <div class="panel-body">
                <div id="panel-body">
                    <div ng-view></div>
                </div>
            </div>
        </div>
    </div>
</div>

@*@Html.NgPartial("Clients", "Clients.html")*@
@*@Html.NgPartial("Requests", "Requests.html")*@
@Html.NgPartial("Users", "Users.html")

<script type="text/javascript">
    
    function menuItemClick(menuItemName, link) {

        $("#panel-heading").add(menuItemName);
        var body = $('#panel-body');

        $.ajax({
            url: link,
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                //body.append(result);
            },
            error: function (result) {
                alert(result);
            }
        });
    }

</script>
